@mixin text {
    color: #FFF;
    font-family: Helvetica;
    font-style: normal;s
    line-height: normal;
}
@mixin as {
    color: #636060;
    font-family: roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}